*{
    margin: 0;
    padding: 0;
}

.main{
    display: flex;
    flex-direction: column;
    width: 82%;
    align-self: center;
    margin-left: 200px;
    padding: 0 10px;

}

.logo, .footerLogo, .nav{
    padding: 1rem;
    position: absolute;
}

.header{
    background-color: #005792;
    justify-content: space-between;
    text-align: center;
}

.navMenu{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    list-style: none;
}

.navOp{
    padding: 1rem 2rem;
}

.sidebar{
    flex: 1 1 0;
    position: fixed;
    left: 0;
    top: 0;
    max-width: 200px;
    height: 100%;
    padding: 2rem 1rem;
    z-index: 1;
    background-color: #3e4a61;
}


.sideLogo{
    font-size: 24px;
    color: white;
    text-align: center;
    line-height: 70px;
    background: gray;
    user-select: none;
}

.sidebar ul a{
    display: block;
    padding: 1rem;
    color: #fff;
    text-decoration: none;
    transition: 0.2s linear;
}

.sidebar ul a:hover,
.sidebar ul a.is-active{
    color: black;
    border-right: 5px solid black;
}

.content {
    flex: 1 1 0;
    padding: 2rem;
}

.content h1{
    color: #3C3F58;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.content p{
    color: #707793;
}
.menu-toggle{
    display: none;
    position: fixed;
    top: 2rem;
    right: 2rem;
    width: 60px;
    height: 60px;
    border-radius: 99px;
    background-color: #2e3047;
    cursor: pointer;
}

.hamburger{
    position: relative;
    top: calc(50% - 2px);
    left: 50%;
    transform: translate(-50%, -50%);
    width: 32px;
}

.hamburger > span,
.hamburger > span::before,
.hamburger > span::after{
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 99px;
    background-color: #fff;
    transition-duration: .25s;
}
.hamburger > span::before{
    content: " ";
    top: -8px;
}

.hamburger > span::after{
    content: " ";
    top: 8px;
}

.menu-toggle.is-active .hamburger > span{
    transform: rotate(45deg);
}
.menu-toggle.is-active .hamburger > span::before{
    top: 0;
    transform: rotate(0deg);
}
.menu-toggle.is-active .hamburger > span::after{
    top: 0;
    transform: rotate(90deg);
}

.welcome{
    text-align: center;
}

h2{
    text-align: center;
    font-size: 1rem;

}


.footer{
    background-color: #3e4a61;
    position: fixed;
    bottom: 0;
    width: 100px;
}




.speech_bubbles{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align:center;
}

/* p{
    display:inline-block;
    width:20%;
    margin:20px;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    padding:1em;
    line-height:1.5em;
    background: #fff (67, 95%, 95%, 1);
  } */
  .box{
    border:solid 5px hsl(0, 95%, 35%, 1);
    margin: 10px;
    padding: 15px;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;

  }

  @media screen and (max-width: 1024px){
    .sidebar{
        max-width: 200px;
    }
}

@media  (max-width: 768px){
    .main{
        margin: 10px;
    }
    .menu-toggle{
        display: block;
    }
    .content{
        padding-top: 8rem;
    }
    .sidebar{
        position: flex;
        top: 0;
        left: -400px;
        height: 100vh;
        width: 100%;
        max-width: 300px;
        transition: 0.2s linear;
    }

    .sidebar.is-active{
        left: 0;
    }

    .speech_bubbles{
        grid-template-columns: repeat(1, 1fr);
    }

}


color-blue: #83af9b;
color-green: #c8c8a9;
color-brown: #774f38;
color-beige: #ece5ce;
color-yellow: #f9cdad;
color-pink: #fe4365;
.new-bubble {
  height: 100vh;
  margin: 0;
  display: grid;
  place-items: center;
  font: 2vw system-ui;
  background-color: #f9cdad;
}

.new-bubble p {
  transform: translatey(0px);
  animation: float 5s ease-in-out infinite;
  mix-blend-mode: multiply;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 15px;
  color: #774f38;
  background-color: #ece5ce;
  padding: 50px;
  border-radius: 11px;
  position: relative;
  box-shadow: 20px 20px #83af9b;
  font-family: "Baloo 2", cursive;
  border: 1px solid #c8c8a9;
}
.new-bubble p:after {
  transform: translatey(0px);
  animation: float2 5s ease-in-out infinite;
  content: ".";
  font-weight: bold;
   -webkit-text-stroke: 0.5px #c8c8a9;
  -webkit-text-fill-color: #ece5ce;
   border: 1px solid #c8c8a9;
  text-shadow: 22px 22px #83af9b;
  text-align: left;
  font-size: 55px;
  width: 55px;
  height: 11px;
  line-height: 30px;
  border-radius: 11px;
  background-color: #ece5ce;
  position: absolute;
  display: block;
  bottom: -30px;
  left: 0;
  box-shadow: 22px 22px #83af9b;
  z-index: -2;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

@keyframes float2 {
  0% {
    line-height: 30px;
    transform: translatey(0px);
  }
  55% {
    transform: translatey(-20px);
  }
  60% {
    line-height: 10px;
  }
  100% {
    line-height: 30px;
    transform: translatey(0px);
  }
}













