*{
    margin: 0;
    padding: 0;
}




 .main, .footer{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.logo, .footerLogo, .nav{
    padding: 1rem;
    position: absolute;
}

.header{
    background-color: #005792;
    justify-content: space-between;
    text-align: center;
}

.navMenu{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    list-style: none;
}

.navOp{
    padding: 1rem 2rem;
}

.sidebar{
    flex: 1 1 0;
    position: fixed;
    left: 0;
    max-width: 200px;
    height: 100%;
    padding: 2rem 1rem;
    background-color: #3e4a61;
}


.sideLogo{
    font-size: 24px;
    color: white;
    text-align: center;
    line-height: 70px;
    background: gray;
    user-select: none;
}

.sidebar ul a{
    display: block;
    padding: 1rem;
    color: #fff;
    text-decoration: none;
    transition: 0.2s linear;
}

.sidebar ul a:hover,
.sidebar ul a.is-active{
    color: black;
    border-right: 5px solid black;
}

.content {
    flex: 1 1 0;
    padding: 2rem;
}

.content h1{
    color: #3C3F58;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.content p{
    color: #707793;
}
.menu-toggle{
    display: none;
    position: fixed;
    top: 2rem;
    right: 2rem;
    width: 60px;
    height: 60px;
    border-radius: 99px;
    background-color: #2e3047;
    cursor: pointer;
}

.hamburger{
    position: relative;
    top: calc(50% - 2px);
    left: 50%;
    transform: translate(-50%, -50%);
    width: 32px;
}

.hamburger > span,
.hamburger > span::before,
.hamburger > span::after{
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 99px;
    background-color: #fff;
    transition-duration: .25s;
}
.hamburger > span::before{
    content: " ";
    top: -8px;
}

.hamburger > span::after{
    content: " ";
    top: 8px;
}

.menu-toggle.is-active .hamburger > span{
    transform: rotate(45deg);
}
.menu-toggle.is-active .hamburger > span::before{
    top: 0;
    transform: rotate(0deg);
}
.menu-toggle.is-active .hamburger > span::after{
    top: 0;
    transform: rotate(90deg);
}

.welcome{
    text-align: center;
}

h2{
    text-align: center;
    font-size: 1rem;

}


.footer{
    background-color: #3e4a61;
    position: fixed;
    bottom: 0;
    width: 100px;
}

@media screen and (max-width: 1024px){
    .sidebar{
        max-width: 200px;
    }
}

@media  (max-width: 768px){
    .menu-toggle{
        display: block;
    }
    .content{
        padding-top: 8rem;
    }
    .sidebar{
        position: flex;
        top: 0;
        left: -400px;
        height: 100vh;
        width: 100%;
        max-width: 300px;
        transition: 0.2s linear;
    }

    .sidebar.is-active{
        left: 0;
    }
}


.speech-bubble{
    width:100%; 
  margin-top:5%; 
  text-align:center;
}

p{
    display:inline-block;
    width:20%;
    margin:20px;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    padding:1em;
    line-height:1.5em;
    background: #fff (67, 95%, 95%, 1);
  }
  #one{
    border:solid 5px hsl(0, 95%, 35%, 1);
  }
  #two{
    border:solid 5px hsl(0, 95%, 35%, 1);
  }
  #three{
    border:solid 5px hsl(0, 95%, 35%, 1);
  }















